<form>
  <div class="form-group">
    <label>Règles PDF</label>
    <textarea name="pdfrules-textarea" rows="12" style="width:100%;">{{value}}</textarea>
    <p class="notes">Collez ou saisissez plusieurs lignes de texte.</p>
  </div>
  <footer class="sheet-footer flexrow">
    <button type="submit" class="dialog-button default">
      <i class="fas fa-save"></i> Enregistrer
    </button>
  </footer>
</form>